/**
 * Base / Reset / Global Styles
 * Luma Life - lumalife.de
 */

:root {
  --wp--preset--aspect-ratio--square: 1;
  --wp--preset--aspect-ratio--4-3: 4/3;
  --wp--preset--aspect-ratio--3-4: 3/4;
  --wp--preset--aspect-ratio--3-2: 3/2;
  --wp--preset--aspect-ratio--2-3: 2/3;
  --wp--preset--aspect-ratio--16-9: 16/9;
  --wp--preset--aspect-ratio--9-16: 9/16;
  --wp--preset--color--black: #000000;
  --wp--preset--color--cyan-bluish-gray: #abb8c3;
  --wp--preset--color--white: #ffffff;
  --wp--preset--color--pale-pink: #f78da7;
  --wp--preset--color--vivid-red: #cf2e2e;
  --wp--preset--color--luminous-vivid-orange: #ff6900;
  --wp--preset--color--luminous-vivid-amber: #fcb900;
  --wp--preset--color--light-green-cyan: #7bdcb5;
  --wp--preset--color--vivid-green-cyan: #00d084;
  --wp--preset--color--pale-cyan-blue: #8ed1fc;
  --wp--preset--color--vivid-cyan-blue: #0693e3;
  --wp--preset--color--vivid-purple: #9b51e0;
  --wp--preset--font-size--small: 13px;
  --wp--preset--font-size--medium: 20px;
  --wp--preset--font-size--large: 36px;
  --wp--preset--font-size--x-large: 42px;
  --wp--preset--spacing--20: 0.44rem;
  --wp--preset--spacing--30: 0.67rem;
  --wp--preset--spacing--40: 1rem;
  --wp--preset--spacing--50: 1.5rem;
  --wp--preset--spacing--60: 2.25rem;
  --wp--preset--spacing--70: 3.38rem;
  --wp--preset--spacing--80: 5.06rem;
  --wp--preset--shadow--natural: 6px 6px 9px rgba(0, 0, 0, 0.2);
  --wp--preset--shadow--deep: 12px 12px 50px rgba(0, 0, 0, 0.4);
  --wp--preset--shadow--sharp: 6px 6px 0px rgba(0, 0, 0, 0.2);
  --wp--preset--shadow--outlined: 6px 6px 0px -3px rgba(255, 255, 255, 1), 6px 6px rgba(0, 0, 0, 0.2);
  --wp--preset--shadow--crisp: 6px 6px 0px rgba(0, 0, 0, 1);
}

:where(body) {
  margin: 0;
}

body {
  padding: 0;
}

/* Layout utilities */
.wp-site-blocks > .alignleft { float: left; margin-right: 2em; }
.wp-site-blocks > .alignright { float: right; margin-left: 2em; }
.wp-site-blocks > .aligncenter { justify-content: center; margin-left: auto; margin-right: auto; }

:where(.is-layout-flex) { gap: 0.5em; }
:where(.is-layout-grid) { gap: 0.5em; }

.is-layout-flow > .alignleft { float: left; margin-inline-start: 0; margin-inline-end: 2em; }
.is-layout-flow > .alignright { float: right; margin-inline-start: 2em; margin-inline-end: 0; }
.is-layout-flow > .aligncenter { margin-left: auto !important; margin-right: auto !important; }

.is-layout-constrained > .alignleft { float: left; margin-inline-start: 0; margin-inline-end: 2em; }
.is-layout-constrained > .alignright { float: right; margin-inline-start: 2em; margin-inline-end: 0; }
.is-layout-constrained > .aligncenter { margin-left: auto !important; margin-right: auto !important; }
.is-layout-constrained > :where(:not(.alignleft):not(.alignright):not(.alignfull)) { margin-left: auto !important; margin-right: auto !important; }

body .is-layout-flex { display: flex; }
.is-layout-flex { flex-wrap: wrap; align-items: center; }
.is-layout-flex > :is(*, div) { margin: 0; }

body .is-layout-grid { display: grid; }
.is-layout-grid > :is(*, div) { margin: 0; }

a:where(:not(.wp-element-button)) { text-decoration: underline; }

:root :where(.wp-element-button, .wp-block-button__link) {
  background-color: #32373c;
  border-width: 0;
  color: #fff;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  padding: calc(0.667em + 2px) calc(1.333em + 2px);
  text-decoration: none;
}

:where(.wp-block-post-template.is-layout-flex) { gap: 1.25em; }
:where(.wp-block-post-template.is-layout-grid) { gap: 1.25em; }
:where(.wp-block-columns.is-layout-flex) { gap: 2em; }
:where(.wp-block-columns.is-layout-grid) { gap: 2em; }
:root :where(.wp-block-pullquote) { font-size: 1.5em; line-height: 1.6; }
